h1{
    color:yellow  ;
    font-style: oblique;
}

body{
    background-color: rgb(132, 73, 199);
}

div{
    height: 100;
    width: 150;
    color: rgb(35, 213, 245);
    background-color: royalblue;
    font-size: 1in;
    
}
