h1{
    color: black ;
    font-style: oblique;
}

body{
    background-color: khaki;
}

div{
    background-color: palegreen;
    width: 10;
    height: 10;
    margin-right: 100;
    
    align-self: center;
    
}
